<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
        
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="../static/css/style_dashboard.css">

    
        <title>Dashboard Template for Bootstrap</title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">
    
    
    
        <!-- Custom styles for this template -->
      <style type="text/css">/* Chart.js */
    @-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style>
    </head>

    <body>
        <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">DARWINBOX</a>
          <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
          <ul class="nav nav-pills justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello {{name}}</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Profile</a>
                  <form action="{{ url_for('logout') }}" method="POST">
                  <a class="dropdown-item" onclick= "this.parentNode.submit()">Logout</a> </form>
                  
              </li>
          </ul>
        </nav>
    
        <div class="container-fluid">
          <div class="row">
       
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>

             <!--card 1 Resource-->
 <div class="row justify-content-center">
    <div class="col-md-3">
        <div class="card-counter myresource">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <span class="count-resources" id = "myresourcelen"></span> <br>
            <span class="count-name">My Resources</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card-counter resource">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="count-resources" id = "allresourcelen"></span> <br>
            <span class="count-name">All Resources</span>
        </div>
    </div>
<!--card 2 Tasks -->
    <div class="col-md-3">
        <div class="card-counter tasks">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span class="count-resources" id = "alltasklen"></span> <br>
            <span class="count-name">Tasks</span>
        </div>
</div>

<!--Resource table-->
<table class="table hidden-table table-hover">
<thead>
  <tr>
    <th scope="col">Resource Name</th>
    <th scope="col">Status</th>
    <th scope="col">Booked By</th>
    <th scope="col">End Time</th>
    <th scope="col">Action</th>

  </tr>
</thead>
<tbody> 
</tbody>
</table>

<!--Input dialog for duration-->

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label">Resource End Time</label>
                <div class='input-group date' id='datetimepicker1'>
                   <input type='text' class="form-control" id= "endtimetext" />
                   <span class="input-group-addon">
                   <span class="glyphicon glyphicon-calendar"></span>
                   </span>
                </div>
             </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id = "bookdate">Book</button>
        </div>
      </div>
  
    </div>
  </div>

<!--Task Table-->
<table class="table hidden-table-tasks table-hover">
<thead>
  <tr>
    <th scope="col">Requested Resource</th>
    <th scope="col">Status</th>
    <th scope="col">Requested By</th>
    <th scope="col">Time of Request</th>
    <th scope="col">Action</th>

  </tr>
</thead>
<tbody> 
</tbody>
</table>

<!--My Resources Table-->
<table class="table hidden-table-myresource table-hover">
    <thead>
      <tr>
        <th scope="col">Resource Name</th>
        <th scope="col">Status</th>
        <th scope="col">End Time</th>
        <th scope="col">Action</th>
    
      </tr>
    </thead>
    <tbody> 
    </tbody>
</table>

        </main>
        
          </div>
        </div>
    
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

     
    
       
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../static/js/script_dashboard.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<!--Datetime picker scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      
    
</body>

  
  
</html>