<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

    <p>hello {{name}}</p>

    <form id="myForm">  
        <label for="resourcesDropdown"><b>Resources</b></label>  
        <select class="form-control" id="resourcesDropdown" name="resourcesDropdown"></select> 
        
        <button type="button" id="request_button">Request resource</button>
        <button type="button" id="logout">Logout</button>
    </form> 

    

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src = "{{ url_for('static', filename='js/script_dashboard.js') }}"></script>
</body>
</html>